@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?8mi38d');
  src:  url('fonts/icomoon.eot?8mi38d#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?8mi38d') format('truetype'),
    url('fonts/icomoon.woff?8mi38d') format('woff'),
    url('fonts/icomoon.svg?8mi38d#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-eisner:before {
  content: "\e900";
}
.icon-1page:before {
  content: "\e901";
}
.icon-thumbs:before {
  content: "\e902";
}
.icon-2pages:before {
  content: "\e903";
}

